<!DOCTYPE html>
<html lang="uz">
<head>
    <!-- start header-meta -->
    {% partial "header-meta" %}
    <!-- End header-meta -->
</head>

<body>
<div class="boxed_wrapper">

{# <div class="preloader"></div>  #}

<!-- start main-header style2-->
    {% partial "main-header" %}
<!-- End main-header style2-->

<!-- Hidden Navigation Bar -->
    {% partial "section-navigation-bar" %}
<!-- End Hidden Bar -->    

<!--Main Slider style2-->
    {% partial "section-main-slider"%}
<!--End Main Slider style2-->

<!--Start About Style3 Area-->
    {% partial "section-about-style3" %}
<!--End About Style3 Area-->

<!--Start Exhibitions Style3 Area-->
    {% partial "section-exhibitions-style3" %}
<!--End Exhibitions Style3 Area-->

<!--Start Fact Testimonial Area-->
    {% partial "section-fact-testimonial" %}
<!--Start Fact Testimonial Area-->

<!--Start blog Style4 Area-->
    {% partial "section-latest-blog-style4" %}
<!--End blog Style4 Area-->

<!--Start Featured Area-->
    {% partial "section-featured-area-library" %}
<!--End Featured Area-->

<!--Start Art Area-->
    {% partial "section-art-area" %}
<!--End Art Area-->

 
<!--Start latest blog area -->
    {% partial "section-latest-blog" %}
<!--End latest blog area-->
 
<!--Start Partner Area-->
    {# {% partial "section-partner-area" %} #}
<!--End Partner Area--> 
 
  
<!--Start subscribe Area-->
    {% partial "section-subscribe-area" %}
<!--End subscribe Area-->  


<!--Start footer Style3 area-->  
    {% partial "footer" %}
<!--End footer Style3 area-->

</div> 

<button class="scroll-top scroll-to-target" data-target="html">
    <span class="icon-angle"></span>
</button>

{% partial "footer-js" %}

</body>
</html>