[staticPage]
useContent = 1
default = 0

[builderList]
modelClass = "RaxiDev\ArtPanel\Models\Rassom"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "fish"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 6
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"
==
<!DOCTYPE html>
<html lang="uz">
<head>
    <!-- start header-meta -->
    {% partial "header-meta" %}
    <!-- End header-meta -->
</head>

<body>
<div class="boxed_wrapper">

{# <div class="preloader"></div>  #}

<!-- start main-header style2-->
    {% partial "main-header" %}
<!-- End main-header style2-->

<!-- Hidden Navigation Bar -->
    {% partial "section-navigation-bar" %}
<!-- End Hidden Bar -->    


<!--Start CONTENT Area-->

<section class="breadcrumb-area" style="background-image: url({{'assets/images/breadcrumb/breadcrumb-4.jpg'|theme}});" style="z-index: auto;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title">
                        <h1>            
                          {{"Sahifalar"|_ }}
                        </h1>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul class="clearfix">
                            <li><a href="{{'/'}}">{{"Bosh sahifa"|_}}</a></li>
                            <li><a href="{{this.page.url}}">{{ page.title }}</a></li>
                           
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start blog single area-->
<section class="blog-single-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
            
                    <div class="blog-post">
                        <div class="blog-details-content">                           
                            <div class="text-holder">
                                <ul class="meta-info">
                                    <li><a href="#">{{page.created_at|date("d, M - Y")}}</a></li> 
                                </ul>
                                <h2 class="blog-title">{{page.title}}</h2>
                                <div class="text">
                                <style>
                                table, th, td {
                                  border: 1px solid black;
                                }
                                </style>
                             
                                    {% page %}
                                </div>
                            </div>
                           
                        </div>
                        
                        <!--Start tag box-->
                        <div class="tag-box">
                            <div class="row">
                                <div class="col-md-12">                                   
                                    <div class="right pull-right">
                                        <p>{{"Tarqatish"|_}} :</p>
                                        <ul class="sociallinks-style-two float-left fix">
                                            <li><a href="https://www.facebook.com/sharer.php?u={{ this.page.id | page }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="https://twitter.com/intent/tweet?url={{ this.page.id | page }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ this.page.id | page }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End tag box-->
                    </div>
               
            </div>
            
            <!--Start sidebar Wrapper-->
            <div class="col-xl-4 col-lg-5 col-md-9 col-sm-12">
                <div class="sidebar-wrapper">
                    <!--Start single sidebar-->
                    {# <div class="sidebar-search-box">
                        <form class="search-form" action="#">
							<input placeholder="Qidirish" type="text">
							<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
                    </div> #}
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="title">
                            <h3>{{"Sahifaga oid havolalar"|_}}</h3>
                        </div>
                        <ul class="categories clearfix">
                            <li><a href="{{'/kafedra-haqida'}}">{{"Kafedra haqida"|_}}</a></li>
                            <li><a href="{{'/kafedra-haqida-taqdimot'}}">{{"Kafedra haqida taqdimot"|_}}</a></li>
                            <li><a href="{{'/'}}">{{"O'qituvchilar haqida"|_}}</a></li>
                            <li><a href="{{'/'}}">{{"Yozilgan ilmiy maqolalar"|_}}</a></li>
                       </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar" style="z-index: 0;">
                        <div class="title">
                            <h3>{{"O'qituvchilar"|_}}</h3>
                        </div>
                        <div class="recent-post">
                            <div class="recent-post-carousel owl-carousel owl-theme owl-nav-style-one">
                                {% set records = builderList.records %}                              
                                {% for record in records %}
                                <!--Start Single Recent Post -->
                                <div class="single-recent-post">
                                    <div class="img-holder">
                                        <img src="{{record.rasm.path|resize(370,320, { mode:'crop', quality: '60' })}}" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                    <div class="title-holder text-center">
                                        <p>{{record.lavozim}}</p>
                                        <h3><a href="blog-single.html#">{{record.fish}}</a></h3>
                                    </div>    
                                </div>
                                <!--End Single Recent Post -->
                                  {% else %}
                                
                                        <li class="no-data">{{ noRecordsMessage }}</li>
                                
                                  {% endfor %}
                             
                            </div> 
                        </div>
                    </div>
                    <!--End single sidebar-->
                </div>    
            </div>
            <!--End Sidebar Wrapper-->
            
       </div>
    </div>
</section> 
<!--End blog single area-->


<!--End CONTENT Area-->  


<!--Start subscribe Area-->
    {% partial "section-subscribe-area" %}
<!--End subscribe Area-->  


<!--Start footer Style3 area-->  
    {% partial "footer" %}
<!--End footer Style3 area-->

</div> 

<button class="scroll-top scroll-to-target" data-target="html">
    <span class="icon-angle"></span>
</button>

{% partial "footer-js" %}

</body>
</html>