[builderList]
modelClass = "RaxmatillaF\Jurnallar\Models\Toplamlar"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 1
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"
==
<section class="tg-bglight tg-haslayout">
				<div class="container">
			
                    <div class="row">
						<div class="tg-featureditm">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
								<figure><img src="{{'/storage/app/media/sayt%20sozlamlari%20uchun/suratlar/img-02.png'}}" alt="image description"></figure>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
								<div class="tg-featureditmcontent">
									<div class="tg-themetagbox"><span class="tg-themetag">{{"ca_geojournal@mail.ru"|_}}</span></div>
									<div class="tg-booktitle">
										<h3><a href="javascript:void(0);">{{"«Markaziy Osiyo Geografik Tadqiqotlar Jurnali»"|_}}</a></h3>
									</div>
									<span class="tg-bookwriter">{{"ISSN"|_}}: <a href="javascript:void(0);">2181-2578</a></span>
									<hr>
									<span class="tg-bookwriter">{{"Jurnal"|_}}: <a href="javascript:void(0);">
                                    {{"O‘zbekiston Respublikasi Prezidenti Administratsiyasi huzuridagi Axborot va ommaviy kommunikatsiyalar agentligida 
                                    ro‘yxatdan o‘tkazilgan (Ommaviy axborot vositasini davlat ro‘yxatiga olish haqidagi 1195-sonli guvohnoma, 2.07.2021 y."|_}}</a></span>
									<style>
                                    .tg-featureditmcontent .tg-bookwriter {
                                        font-size: 16px;
                                        line-height: 22px;
                                        padding: 0 0 10px;
                                    }
                                    </style>												
								
									<a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
										<i class="fa fa-eye"></i>
										<em>{{"Jurnal haqida"|_}}</em>
									</a>
								

									</div>
								</div>
							</div>
						</div>
					</div>
                  
             
				</div>
			</section>