<footer class="footer-style3-area" style="background-image:url({{ 'assets/images/parallax-background/footer-style3-bg.jpg'|theme }});">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!--Start single footer widget-->
                <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget-style2 marbtm50">
                        <div class="our-company-info">
                            <div class="footer-logo">
                                <a href="index.html"><img src="{{ 'assets/images/resources/logo-2.png'|theme }}" alt="Footer Logo"></a>
                            </div>
                            <div class="text">
                                <p>{{"Sayt Chirchiq davlat pedagogika universiteti, San'atshunoslik fakultetining Tasviriy san'at kafedrasi tashabbusi bilan yaratilgan."|_}}</p>
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-clock-1"></span>    
                                        </div>
                                        <div class="title">
                                            <h5>{{"Chirchiq shahri, Amir Temur ko'chasi 104 uy"|_}}</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-phone"></span>    
                                        </div>
                                        <div class="title">
                                            <h3><a href="tel:998975476797">{{"+998(97)5476797"|_}}</a></h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-global"></span>    
                                        </div>
                                        <div class="title">
                                            <h5>
                                                <a href="https://cspi.uz/">{{"CHDPU web sayti"|_}}</a><br> 
                                                <a href="mailto:{{'wi.fi.xor@gmail.com'|_}}">{{"wi.fi.xor@gmail.com"|_}}</a>
                                            </h5>
                                        </div>
                                    </li>
                                </ul>
                                <div class="contact-button">
                                    <a class="btn-two" href="index-3.html#">{{"Ko'rish"|_}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
                
                <!--Start single footer widget-->
                <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget-style2">
                        <div class="footer-map-holder">
                            <div class="map-outer">
                                <div id="map">
                  <script  type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3789e5c38013dd49db7342cc8dc4b92c46e7554fea76203f66c146ebc4ac265b&amp;width=100%&amp;height=440&amp;lang=ru_UA&amp;scroll=true"></script>
                  </div>
                            </div>
                            
                            <div class="footer-social-links">
                                <div class="title">{{"Bizni kuzatib boring"|_}} :-</div>
                                <ul class="social-links-style1">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
            </div>
        </div>
    </div>
    
    <div class="footer-bottom-style3">
        <div class="container">
            <div class="copyright-text text-center">
                <p>© Copyright 2023 CHDPU RTT. Fayziyev.R (RAXI-DEV)</p>
            </div>      
        </div>    
    </div>
</footer>