<footer class="footer-style3-area" style="background-image:url({{ 'assets/images/parallax-background/footer-style3-bg.jpg'|theme }});">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!--Start single footer widget-->
                <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget-style2 marbtm50">
                        <div class="our-company-info">
                            <div class="footer-logo">
                                <a href="index.html"><img src="{{ 'assets/images/resources/logo-2.png'|theme }}" alt="Footer Logo"></a>
                            </div>
                            <div class="text">
                                <p>In order to support the artisan facilities and the local inheritance in a whole, the Museum Histories takes pride in  representing the Artist Blanket – the final consequence of the early cooperation of the gallery artists.</p>
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-clock-1"></span>    
                                        </div>
                                        <div class="title">
                                            <h5>Daily 9.30 am–6.00 pm Thursday and Holidays: Closed</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-phone"></span>    
                                        </div>
                                        <div class="title">
                                            <h3><a href="tel:16234569400">1 (623) 456-9400</a></h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-global"></span>    
                                        </div>
                                        <div class="title">
                                            <h5>
                                                <a href="https://www.museumhistories.com/">www.museumhistories.com</a><br> 
                                                <a href="mailto:info@templatepath.com">museumhistories@hotmail.com</a>
                                            </h5>
                                        </div>
                                    </li>
                                </ul>
                                <div class="contact-button">
                                    <a class="btn-two" href="index-3.html#">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
                
                <!--Start single footer widget-->
                <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget-style2">
                        <div class="footer-map-holder">
                            <div class="map-outer">
                                <!--Map Canvas-->
                                <div class="map-canvas"
                                    data-zoom="12"
                                    data-lat="-37.817085"
                                    data-lng="144.955631"
                                    data-type="roadmap"
                                    data-hue="#ffc400"
                                    data-title="Envato"
                                    data-icon-path="{{ 'assets/images/resources/map-marker.png'|theme }}"
                                    data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                                </div>
                            </div>
                            <div class="address-box">
                                <h3>Address :-</h3>
                                <p>2270 S Real Camino<br> Lake California, US 90967</p>
                            </div>
                            <div class="footer-social-links">
                                <div class="title">Follow Us :-</div>
                                <ul class="social-links-style1">
                                    <li>
                                        <a href="index-3.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="index-3.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="index-3.html#"><i class="fa fa-envelope" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="index-3.html#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
            </div>
        </div>
    </div>
    
    <div class="footer-bottom-style3">
        <div class="container">
            <div class="copyright-text text-center">
                <p>© Copyright 2019 Museum Histories. All Rights Reserved</p>
            </div>      
        </div>    
    </div>
</footer>