<script src="{{ 'assets/js/jquery.js'|theme}}"></script>
<script src="{{ 'assets/js/appear.js'|theme}}"></script>
<script src="{{ 'assets/js/bootstrap.bundle.min.js'|theme}}"></script>
<script src="{{ 'assets/js/bootstrap-select.min.js'|theme}}"></script>
<script src="{{ 'assets/js/isotope.js'|theme}}"></script>
<script src="{{ 'assets/js/jquery.bootstrap-touchspin.js'|theme}}"></script>
<script src="{{ 'assets/js/jquery.countTo.js'|theme}}"></script>
<script src="{{ 'assets/js/jquery.easing.min.js'|theme}}"></script>
<script src="{{ 'assets/js/jquery.enllax.min.js'|theme}}"></script>
<script src="{{ 'assets/js/jquery.fancybox.js'|theme}}"></script>
<script src="{{ 'assets/js/jquery.mixitup.min.js'|theme}}"></script>
<script src="{{ 'assets/js/jquery.paroller.min.js'|theme}}"></script>
<script src="{{ 'assets/js/owl.js'|theme}}"></script>
<script src="{{ 'assets/js/validation.js'|theme}}"></script>
<script src="{{ 'assets/js/wow.js'|theme}}"></script>
<script src="{{ 'assets/js/aos.js'|theme}}"></script>
<script src="{{ 'assets/js/jquery.mCustomScrollbar.concat.min.js'|theme}}"></script>

<script src="{{ 'assets/language-switcher/jquery.polyglot.language.switcher.js'|theme}}"></script>
{# <script src="{{ 'assets/timepicker/timePicker.js'|theme}}"></script>                        #}
<script src="{{ 'assets/html5lightbox/html5lightbox.js'|theme}}"></script>
<!-- jQuery ui js -->
<script src="{{ 'assets/jquery-ui-1.11.4/jquery-ui.js'|theme}}"></script>
<!--Revolution Slider-->
<script src="{{ 'assets/plugins/revolution/js/jquery.themepunch.revolution.min.js'|theme}}"></script>
<script src="{{ 'assets/plugins/revolution/js/jquery.themepunch.tools.min.js'|theme}}"></script>
<script src="{{ 'assets/plugins/revolution/js/extensions/revolution.extension.actions.min.js'|theme}}"></script>
<script src="{{ 'assets/plugins/revolution/js/extensions/revolution.extension.carousel.min.js'|theme}}"></script>
<script src="{{ 'assets/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js'|theme}}"></script>
<script src="{{ 'assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js'|theme}}"></script>
<script src="{{ 'assets/plugins/revolution/js/extensions/revolution.extension.migration.min.js'|theme}}"></script>
<script src="{{ 'assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js'|theme}}"></script>
<script src="{{ 'assets/plugins/revolution/js/extensions/revolution.extension.parallax.min.js'|theme}}"></script>
<script src="{{ 'assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js'|theme}}"></script>
<script src="{{ 'assets/plugins/revolution/js/extensions/revolution.extension.video.min.js'|theme}}"></script>
<script src="{{ 'assets/js/main-slider-script.js'|theme}}"></script>

<!-- thm custom script -->
<script src="{{ 'assets/js/custom.js'|theme}}"></script>

 <script src="{{ 'assets/js/zooming.min.js'|theme }}"></script>
  <script src="{{ 'assets/js/main.js'|theme }}"></script>