<header class="main-header main-header-style2">    
    <!--Start Header upper Style2-->
    <div class="header-upper-style2">
        <div class="header-upper-style2-container clearfix">
            <div class="outer-box clearfix"> 
                <div class="header-upper-left-style2 clearfix float-left">
                    <div class="logo">
                        <a href="index.html"><img src="{{ 'assets/images/resources/logo-2.png'|theme }}" alt="Awesome Logo" title=""></a>
                    </div>
                </div>
                <div class="header-upper-midlle-style2 float-left clearfix">
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu style2 navbar-expand-lg">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                 <li><a href="{{'/'}}">Bosh sahifa</a></li>
                                    <li class="dropdown current"><a href="index-2.html#">{{"Xabarlar"|_}}</a>
                                        <ul>
                                            <li><a href="index.html">Yangiliklar</a></li>
                                            <li><a href="index-2.html">E'lonlar</a></li>
                                            <li><a href="index-3.html">Konfrensiyalar</a></li>
                                            {# <li><a href="index-4.html">Home Page 04</a></li>
                                            <li class="dropdown"><a href="index-2.html#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                    <li><a href="index-3.html">Header Style Three</a></li>
                                                    <li><a href="index-4.html">Header Style Four</a></li>
                                                </ul>    
                                            </li> #}
                                        </ul>
                                    </li>
                                   
                                    <li class="dropdown"><a href="index-2.html#">Kafedra haqida</a>
                                        <ul>
                                            <li><a href="art.html">O'qituvchilar</a></li>
                                            <li><a href="exhibitions.html">O'qitiladigan fanlar</a></li>
                                            <li><a href="tickets.html">Elektron maqolalar</a></li>
                                        </ul>
                                    </li>
                                    {# <li><a href="gallery.html">Elektron kutubxona</a></li> #}
                                    <li class="dropdown"><a href="index-2.html#">Kutubxona</a>
                                        <ul>
                                            <li><a href="events.html">Elektron resurslar</a></li>
                                            <li><a href="event-single.html">Kitoblar</a></li>
                                            <li><a href="event-single.html">Maqolalar</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="index-2.html#">Art katalog</a>
                                    	<ul>
                                            <li><a href="blog.html">Rassomlar</a></li>
                                            <li><a href="blog-single.html">Art ishlanmalar</a></li>
                                        </ul>
                                    </li>
                                     <li class="dropdown"><a href="index-2.html#">Ilmiy Jurnal</a>
                                        <ul>
                                            <li><a href="events.html">Jurnal to'plamlari</a></li>
                                            <li><a href="event-single.html">Arxiv</a></li>
                                            <li><a href="event-single.html">Maqolalar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Qayta a'loqa</a></li>
                                </ul>
                            </div>
                        </nav>                        
                        <!-- Main Menu End-->
                        <div class="menu-right-content-style2">
                            <div class="user-icon-holder">
                                <a href="index-2.html#"><span class="flaticon-user"></span></a>
                            </div>
                            <div class="outer-search-box-style1">
                                <div class="seach-toggle"><i class="fa fa-search"></i></div>
                                <ul class="search-box">
                                    <li>
                                        <form method="post" action="index.html">
                                            <div class="form-group">
                                                <input type="search" name="search" placeholder="Saydan qidirish" required>
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                          
                        </div>

                    </div>
                </div>
                <div class="header-upper-right-style2 float-right clearfix">
                    <a class="side-nav-toggler nav-toggler hidden-bar-opener" href="index-2.html#">
                        <span class="decor1"></span>
                        <span class="decor2"></span>
                        <span class="decor3"></span>
                    </a>     
                </div>
                
            </div>
        </div>
    </div>
    <!--End Header Upper Style2-->
   
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container">
            <div class="clearfix">
                <!--Logo-->
                <div class="logo float-left">
                    <a href="index.html" class="img-responsive"><img src="{{ 'assets/images/resources/logo.png'|theme }}" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="right-col float-right">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                             <li><a href="{{'/'}}">Bosh sahifa</a></li>
                                <li class="dropdown current"><a href="index-2.html#">{{"Xabarlar"|_}}</a>
                                        <ul>
                                            <li><a href="index.html">Yangiliklar</a></li>
                                            <li><a href="index-2.html">E'lonlar</a></li>
                                            <li><a href="index-3.html">Konfrensiyalar</a></li>
                                            {# <li><a href="index-4.html">Home Page 04</a></li>
                                            <li class="dropdown"><a href="index-2.html#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                    <li><a href="index-3.html">Header Style Three</a></li>
                                                    <li><a href="index-4.html">Header Style Four</a></li>
                                                </ul>    
                                            </li> #}
                                        </ul>
                                    </li>
                                <li class="dropdown"><a href="index-2.html#">Kafedra haqida</a>
                                        <ul>
                                            <li><a href="art.html">O'qituvchilar</a></li>
                                            <li><a href="exhibitions.html">O'qitiladigan fanlar</a></li>
                                            <li><a href="tickets.html">Elektron maqolalar</a></li>
                                        </ul>
                                    </li>
                                    {# <li><a href="gallery.html">Elektron kutubxona</a></li> #}
                                    <li class="dropdown"><a href="index-2.html#">Kutubxona</a>
                                        <ul>
                                            <li><a href="events.html">Elektron resurslar</a></li>
                                            <li><a href="event-single.html">Kitoblar</a></li>
                                            <li><a href="event-single.html">Maqolalar</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="index-2.html#">Art katalog</a>
                                    	<ul>
                                            <li><a href="blog.html">Rassomlar</a></li>
                                            <li><a href="blog-single.html">Art ishlanmalar</a></li>
                                        </ul>
                                    </li>
                                     <li class="dropdown"><a href="index-2.html#">Ilmiy Jurnal</a>
                                        <ul>
                                            <li><a href="events.html">Jurnal to'plamlari</a></li>
                                            <li><a href="event-single.html">Arxiv</a></li>
                                            <li><a href="event-single.html">Maqolalar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Qayta a'loqa</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div>
    </div>
    <!--End Sticky Header-->
</header>