[builderList]
modelClass = "RaxiDev\ArtPanel\Models\StatistikaIqtirodli"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% for record in records %}
{% if record.is_active %}

<section class="fact-testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="fact-counter-box">
                
                    <div class="fact-counter-bg" style="background-image:url({{ record.statistika_image.path }});"></div>
                    <ul>                  
                        {% for statistika in record.statistika %}
                            <li class="single-fact-counter-style2 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <img src="{{statistika.icon|media}}" alt="Icon">
                                </div>
                                <div class="count-box">
                                    <h1>
                                        <span class="timer" data-from="1" data-to="{{statistika.statistika_raqami}}" data-speed="5000" data-refresh-interval="50">{{record.statistika.statistika_raqami}}</span>
                                    </h1>
                                </div>
                                <div class="title">
                                    <h3>{{statistika.statistika_desc|raw}}</h3>
                                </div>
                            </li>
                        {% endfor %}                       
                    </ul>
                </div>
            </div>
            
            <div class="col-xl-6">
                <div class="testimonial-box-holder">
                    <div class="sec-title clr-white">
                        <p>{{record.kichik_title}}</p>
                        <div class="big-title"><h1>{{record.kotta_title}}</h1></div>
                        
                    </div>
                    <div class="testimonial-box-holder-bg" style="background-image:url({{ record.student_image.path }});"></div>
                    <div class="testimonial-carousel-style2 style3 owl-carousel owl-theme">
                       
                       {% for student in record.talabalar %}
                     
                       <!--Start single testimonial style2-->
                        <div class="single-testimonial-style2">
                            <div class="top">
                                <div class="img-box">
                                    <img src="{{student.talaba_surati|media}}" alt="Awesome Image">    
                                </div>
                                <div class="title-box">
                                    <span>{{student.kursi}}</span>
                                    <h2>{{student.fish}}</h2>
                                    <div class="review-box">
                                        <ul>
                                           {% for test in student.yulduzlar %}
                                                <li><i class="fa fa-star"></i></li>
                                           {% endfor %}  
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <div class="text">
                                <p>{{student.talaba_haqida}}</p>
                            </div>   
                        </div> 
                        <!--End single testimonial style2-->
                        
                       {% endfor %}
                      
                    </div>    
                </div>    
            </div>
            
        </div>
    </div>    
</section>
{% endif %}
{% endfor %}