<section class="hidden-bar right-align">
    <div class="hidden-bar-closer">
        <button><span class="flaticon-multiply"></span></button>
    </div>
    <div class="hidden-bar-wrapper">
        <div class="logo">
            <a href="index.html"><img src="{{ 'assets/images/resources/logo-2.png'|theme }}" alt="Logo"/></a>
        </div>
        <div class="hiddenbar-about-us">
            <h3>About Us</h3>
            <div class="text">
                <p>We must explain to you how all seds this mistakens idea off denouncing pleasures and praising pain was born and I will give you a completed accounts off the system and expound the actually teaching.</p>
            </div>    
        </div>
        <div class="contact-info-box">
            <h3>Contact Info</h3>
            <ul>
                <li>
                    <h5>Address</h5>
                    <p>Romanian  9520 Faires Farm Road,<br> Carlsbad, NC 28213.</p>
                </li>
                <li>
                    <h5>Phone</h5>
                    <p>Phone 1: +1 555-7890-123</p>
                </li>
                <li>
                    <h5>Email</h5>
                    <p>supportyou@example.com</p>
                </li>
            </ul>
        </div>       
        <div class="newsletter-form-box">
            <h3>Newsletter Subscribe</h3>
            <form action="index-2.html#">
                <div class="row">
                    <div class="col-xl-12">
                        <input type="email" name="email" placeholder="Email Address..."> 
                        <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>    
                    </div>
                </div>
            </form>
        </div>
        <div class="copy-right-text">
            <p>© Museum 2019, All Rights Reserved.</p>
        </div> 
    </div>
</section>