<section class="events-style2-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="top">
                    <div class="sec-title pull-left">
                        <p>DON’T MISS</p>
                        <div class="big-title"><h1>Events & Programs</h1></div>
                    </div>
                    <div class="see-all-events-button pull-right">
                        <a href="index-2.html#">See All Events<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="event-carousel-style2 owl-carousel owl-theme owl-nav-style-one">
                    <!--Start Single Event Box Style2-->
                    <div class="single-event-box-style2">
                        <div class="row marbtm60">
                            <div class="col-xl-6">
                                <div class="img-holder">
                                    <img src="{{ 'assets/images/events/event-v2-1.jpg'|theme }}" alt="Awesome Image">
                                    <div class="overlay-style-one bg1"></div>
                                </div>    
                            </div>
                            <div class="col-xl-6">
                                <div class="text-holder pd-left-30">
                                    <span>GALLERY TALK</span>
                                    <h2>Rough Cut: Independent Japanese Antiquity</h2>
                                    <p>12:00 AM - 12:00 AM / 32 Quincy Street, Cambridge, MA</p>
                                    <div class="button">
                                        <a class="btn-two" href="index-2.html#">Details</a>
                                        <a class="btn-two marlft" href="index-2.html#">Free</a>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 order-box-2">
                                <div class="text-holder pd-right-30">
                                    <span>GALLERY TALK</span>
                                    <h2>Aerial Photo of Brown Concrete Museum</h2>
                                    <p>12:00 AM - 12:00 AM / 32 Quincy Street, Cambridge, MA</p>
                                    <div class="button">
                                        <a class="btn-two" href="index-2.html#">Details</a>
                                        <a class="btn-two marlft" href="index-2.html#">Free</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-xl-6 order-box-1">
                                <div class="img-holder">
                                    <img src="{{ 'assets/images/events/event-v2-2.jpg'|theme }}" alt="Awesome Image">
                                    <div class="overlay-style-one bg1"></div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <!--End Single Event Box Style2-->
                    <!--Start Single Event Box Style2-->
                    <div class="single-event-box-style2">
                        <div class="row marbtm60">
                            <div class="col-xl-6">
                                <div class="img-holder">
                                    <img src="{{ 'assets/images/events/event-v2-1.jpg'|theme }}" alt="Awesome Image">
                                    <div class="overlay-style-one bg1"></div>
                                </div>    
                            </div>
                            <div class="col-xl-6">
                                <div class="text-holder pd-left-30">
                                    <span>GALLERY TALK</span>
                                    <h2>Rough Cut: Independent Japanese Antiquity</h2>
                                    <p>12:00 AM - 12:00 AM / 32 Quincy Street, Cambridge, MA</p>
                                    <div class="button">
                                        <a class="btn-two" href="index-2.html#">Details</a>
                                        <a class="btn-two marlft" href="index-2.html#">Free</a>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 order-box-2">
                                <div class="text-holder pd-right-30">
                                    <span>GALLERY TALK</span>
                                    <h2>Aerial Photo of Brown Concrete Museum</h2>
                                    <p>12:00 AM - 12:00 AM / 32 Quincy Street, Cambridge, MA</p>
                                    <div class="button">
                                        <a class="btn-two" href="index-2.html#">Details</a>
                                        <a class="btn-two marlft" href="index-2.html#">Free</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-xl-6 order-box-1">
                                <div class="img-holder">
                                    <img src="{{ 'assets/images/events/event-v2-2.jpg'|theme }}" alt="Awesome Image">
                                    <div class="overlay-style-one bg1"></div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <!--End Single Event Box Style2-->
                </div>
            </div>
        </div>
    </div>
</section>