<section class="exhibitions-style3-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="exhibitions-carousel-style2 owl-carousel owl-theme owl-nav-style-one">
                    <!--Start Single Exhibition Box Style3-->
                    <div class="single-exhibition-box-style3">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="{{'assets/images/resources/exhibition-v3-1.jpg'|theme }}" alt="Awesome Image">
                                <div class="overlay-style-one bg1"></div>
                            </div>
                            <div class="text-box">
                                <span>Exhibition</span>
                                <h3><a href="index-4.html#">The Museum is Located in St- Germain Castle</a></h3>
                                <p>From 6 Sept 2017 until 7 Jan 2018</p>    
                            </div>
                        </div>    
                    </div>
                    <!--End Single Exhibition Box Style3-->
                    <!--Start Single Exhibition Box Style3-->
                    <div class="single-exhibition-box-style3">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="{{'assets/images/resources/exhibition-v3-2.jpg'|theme }}" alt="Awesome Image">
                                <div class="overlay-style-one bg1"></div>
                            </div>
                            <div class="text-box">
                                <span>Exhibition</span>
                                <h3><a href="index-4.html#">SCI-Arc 2018 Graduate Thesis Presentation</a></h3>
                                <p>From 6 Sept 2017 until 7 Jan 2018</p>    
                            </div>
                        </div>    
                    </div>
                    <!--End Single Exhibition Box Style3-->
                    <!--Start Single Exhibition Box Style3-->
                    <div class="single-exhibition-box-style3">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="{{'assets/images/resources/exhibition-v3-3.jpg'|theme }}" alt="Awesome Image">
                                <div class="overlay-style-one bg1"></div>
                            </div>
                            <div class="text-box">
                                <span>Collection</span>
                                <h3><a href="index-4.html#">Rough Cut: Independent Japanese Antiquity</a></h3>
                                <p>From 6 Sept 2017 until 7 Jan 2018</p>    
                            </div>
                        </div>    
                    </div>
                    <!--End Single Exhibition Box Style3-->
                    <!--Start Single Exhibition Box Style3-->
                    <div class="single-exhibition-box-style3">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="{{'assets/images/resources/exhibition-v3-1.jpg'|theme }}" alt="Awesome Image">
                                <div class="overlay-style-one bg1"></div>
                            </div>
                            <div class="text-box">
                                <span>Exhibition</span>
                                <h3><a href="index-4.html#">The Museum is Located in St- Germain Castle</a></h3>
                                <p>From 6 Sept 2017 until 7 Jan 2018</p>    
                            </div>
                        </div>    
                    </div>
                    <!--End Single Exhibition Box Style3-->
                </div>
                
            </div>
        </div>
    </div>    
</section>