<section class="partner-area">
    <div class="container">
        <div class="sec-title text-center">
            <p>{{"Kafedra hamkorlari"|_}}</p>
            <div class="big-title"><h1>{{"Hamkorlar"|_}}</h1></div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="partner-box">
                    <!--Start Single Partner Logo Box-->
                    <div class="single-partner-logo-box">
                        <a href="index-2.html#"><img src="{{ 'assets/images/brand/1.png'|theme }}" alt="Awesome Image"></a>
                    </div>
                    <!--End Single Partner Logo Box-->
                    <!--Start Single Partner Logo Box-->
                    <div class="single-partner-logo-box">
                        <a href="index-2.html#"><img src="{{ 'assets/images/brand/2.png'|theme }}" alt="Awesome Image"></a>
                    </div>
                    <!--End Single Partner Logo Box-->
                    <!--Start Single Partner Logo Box-->
                    <div class="single-partner-logo-box">
                        <a href="index-2.html#"><img src="{{ 'assets/images/brand/3.png'|theme }}" alt="Awesome Image"></a>
                    </div>
                    <!--End Single Partner Logo Box-->
                    <!--Start Single Partner Logo Box-->
                    <div class="single-partner-logo-box">
                        <a href="index-2.html#"><img src="{{ 'assets/images/brand/4.png'|theme }}" alt="Awesome Image"></a>
                    </div>
                    <!--End Single Partner Logo Box-->
                    <!--Start Single Partner Logo Box-->
                    <div class="single-partner-logo-box">
                        <a href="index-2.html#"><img src="{{ 'assets/images/brand/5.png'|theme }}" alt="Awesome Image"></a>
                    </div>
                    <!--End Single Partner Logo Box-->
                </div>
            </div>
        </div>
    </div>

   
</section>