<section class="contact-info-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="contact-info-holder">
                    <li>
                        <h3>Hours</h3>
                        <p>Daily 9.30 am–6.00 pm<br> Thursday & Holidays: Closed</p>
                        <a class="btn-one" href="index-2.html#">See All Hours</a>
                    </li>
                    <li>
                        <h3>Hours</h3>
                        <p>Daily 9.30 am–6.00 pm<br> Thursday & Holidays: Closed</p>
                        <a class="btn-one" href="index-2.html#">See All Hours</a>
                    </li>
                    <li>
                        <h3>Hours</h3>
                        <p>Daily 9.30 am–6.00 pm<br> Thursday & Holidays: Closed</p>
                        <a class="btn-one" href="index-2.html#">See All Hours</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>