[builderList]
modelClass = "RaxiDev\ArtPanel\Models\Library"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 6
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"
==
{% set records = builderList.records %}

<section class="about-style1-area" style="padding: 50px 0 0px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-10">
                <div class="about-style1-left-content clearfix">
                    <div class="">
                        <img style="width: 700px;" src="{{'/storage/app/media/uploaded-files/books.png'}}" alt="Awesome Image">
                    </div>
                </div>     
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="container" style="margin-top: 90px;">
                    <div class="sec-title text-center" style="padding-bottom: 10px;">
                        <p>{{"Kafedra o'qituvchilari tomonidan yuklangan elektron resurslar"|_}}</p>
                        <div class="big-title"><h1>{{"Kafedra Elektron<br> Kutubxonasi"|_}}</h1></div>
                    </div>
                    <div class="row">
                        <!--Start Single Fact Counter-->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="single-fact-counter text-center wow fadeInLeft animated" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInLeft;">
                                {# <div class="icon">
                                    <img src="images/icon/fact-counter-1.png" alt="Icon">
                                </div> #}
                                <div class="count-box counted">
                                    <h1>
                                        <span class="timer" data-from="1" data-to="356" data-speed="5000" data-refresh-interval="50">356</span>
                                    </h1>
                                </div>
                                <div class="title">
                                    <h3>{{"El-Kitoblar"|_}}</h3>
                                </div>
                            </div>
                        </div>
                        <!--End Single Fact Counter-->
                        <!--Start Single Fact Counter-->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="single-fact-counter text-center wow fadeInLeft animated" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInLeft;">
                                {# <div class="icon">
                                    <img src="images/icon/fact-counter-2.png" alt="Icon">
                                </div> #}
                                <div class="count-box counted">
                                    <h1>
                                        <span class="timer" data-from="1" data-to="400" data-speed="5000" data-refresh-interval="50">400</span>
                                    </h1>
                                </div>
                                <div class="title">
                                    <h3>{{"Boshqa El-Resurslar"|_}}</h3>
                                </div>
                            </div>
                        </div>
                        <!--End Single Fact Counter-->
                       
                    </div>
                </div>
            </div>
            
        </div> 
    </div>    
</section>


<section class="featured-area" style="padding: 5px 0 15px; margin-top: -30px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="featured-box">
                    <div class="title-box">
                        <div class="sec-title" style="padding-bottom: 70px;">
                            <p>{{"Library"|_}}</p>
                            <div class="big-title"><h1>{{"Bo'limlar"|_}}</h1></div>
                            <div class="row">
                            <div class="col-xl-12">
                                <ul>

                                    <li><a href="#">{{"Elektron kitoblar"|_}}</a></li>
                                    <li><a href="#">{{"Elektron resurslar"|_}}</a></li>
                                    <li><a href="#">{{"Elektron maqolalar"|_}}</a></li>
                                   
                                  
                                </ul>
                            </div>
                            </div>
                        </div>    
                    </div>
                    <div class="featured-items">
                        <div class="row">
                            <div class="col-xl-6">
                                <ul>
                                {% for record in records %}
                                    {% if record.is_active and record.bolimlar == "el-kitoblar" %}
                                        <li><a href="#">{{ record.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                   
                                </ul>
                            </div>
                            <div class="col-xl-6">
                                <ul>
                                {% for record in records %}
                                {% if record.is_active and record.bolimlar == "el-boshqa-resurslar" %}
                                    <li><a href="#">{{ record.title }}</a></li>
                                {% endif %}
                                {% endfor %}
                                    
                                </ul>
                            </div>
                        </div>    
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</section>