<section class="featured-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="featured-box">
                    <div class="title-box">
                        <div class="sec-title">
                            <p>On View At</p>
                            <div class="big-title"><h1>Museum</h1></div>
                        </div>    
                    </div>
                    <div class="featured-items">
                        <div class="row">
                            <div class="col-xl-6">
                                <ul>
                                    <li><a href="index-2.html#">Middle Eastern Art</a></li>
                                    <li><a href="index-2.html#">Artifacts and Antiquities</a></li>
                                    <li><a href="index-2.html#">Traditional Art</a></li>
                                    <li><a href="index-2.html#">Western & Non-Western cultures</a></li>
                                    <li><a href="index-2.html#">Photography</a></li>
                                    <li><a href="index-2.html#">Emerging Design</a></li>	
                                </ul>
                            </div>
                            <div class="col-xl-6">
                                <ul>
                                    <li><a href="index-2.html#">East Asian Art</a></li>
                                    <li><a href="index-2.html#">War History</a></li>
                                    <li><a href="index-2.html#">Latin American Art</a></li>
                                    <li><a href="index-2.html#">Gardens</a></li>
                                    <li><a href="index-2.html#">20th Century Design</a></li>
                                    <li><a href="index-2.html#">Contemporary Design</a></li>
                                </ul>
                            </div>
                        </div>    
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</section>