<div class="item">
    <div class="tg-postbook">
    	<figure class="tg-featureimg">
    		<div class="tg-bookimg">
    			<div class="tg-frontcover"><img src="{{ '/storage/app/media/sayt%20sozlamlari%20uchun/suratlar/404_image_not_found.jpg' }}" alt="image description"></div>
    			<div class="tg-backcover"><img src="{{ '/storage/app/media/sayt%20sozlamlari%20uchun/suratlar/404_image_not_found.jpg' }}" alt="image description"></div>
    		</div>
    		<a class="tg-btnaddtowishlist" style="background: #f23057;" href="javascript:void(0);">
    			<i class="icon-book"></i>
    			<span>{{"Resurs qo'shing!"|_}}</span>
    		</a>
    	</figure>
    	<div class="tg-postbookcontent">
    		<div class="tg-booktitle">
    			<h3><a href="javascript:void(0);">Saytda resurslar mavjud emas!</a></h3>
    		</div>
    	</div>
    </div>
</div>